* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.safari {
  font-family: Arial;
  background: black;
  color: white;
  overflow: hidden;
}

.bg {
  position: fixed;
  inset: 0;
  background: url("/assets/mybirthday.png") center/cover no-repeat;
  z-index: -2;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  z-index: -1;
}

.scene {
  position: absolute;
  inset: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.scene.active {
  display: flex;
}

.baby {
  width: 180px;
}

.animals img {
  width: 70px;
}
